#ips9e-ch04-p-09 {
  margin-bottom: 8em;
}
#ips9e-ch04-p-22 {
  margin-top: -4em;
}
#ips9e-ch04-fig-03 {
  margin-top: 2em;
}
div#ips9e_page_226 {
  margin-top: -2em !important;
}
div#ips9e_page_237 {
  margin-top: -2em !important;
}
div#ips9e_page_238 {
  margin-top: -2em !important;
}
div#ips9e_page_249 {
  margin-top: -2em !important;
}
div#ips9e_page_257 {
  margin-top: -2em !important;
}
#ips9e-ch04-p-234 {
  margin-top: -9em;
}
#ips9e-ch04-box-39 {
  margin-top: -5em;
}
#ips9e-ch04-list-12 {
  list-style-type: none;
}
#ips9e-ch04-list-12 li {
  margin: 1em 0;
}
#ips9e-ch04-p-321 [data-block_type="SR-XH"] {
  color: #004178;
  font-weight: bold;
}
#ips9e-ch04-p-414 {
  margin-top: -3em;
}
#ips9e-ch04-p-579 [data-block_type="h3-ri"] {
  color: #00aaa9;
  font-weight: bold;
}
#ips9e-ch04-p-580 [data-block_type="h3-ri"] {
  color: #00aaa9;
  font-weight: bold;
}
#ips9e-ch04-p-575 [data-block_type="h3-ri"] {
  color: #00aaa9;
  font-weight: bold;
}
#ips9e-ch04-p-568 [data-block_type="h3-ri"] {
  color: #00aaa9;
  font-weight: bold;
}
#ips9e-ch04-box-67 {
  margin-top: -8em;
}