div#ips9e_page_283 {
  margin-top: -2.5em !important;
}
div#ips9e_page_285 {
  margin-top: -2em !important;
}
div#ips9e_page_300 {
  margin-top: -1.5em !important;
}
div#ips9e_page_301 {
  margin-top: -1.5em !important;
}
div#ips9e_page_306 {
  margin-top: -2em !important;
}
div#ips9e_page_316 {
  margin-top: -1em !important;
}
div#ips9e_page_319 {
  margin-top: -2em !important;
}
div#ips9e_page_325 {
  margin-top: -2em !important;
}
div#ips9e_page_328 {
  margin-top: -1em !important;
}
div#ips9e_page_330 {
  margin-top: -1em !important;
}
div#ips9e_page_331 {
  margin-top: -1em !important;
}
div#idm2794336 {
  margin-top: -1em;
}
#idp861696 {
  margin-top: -5em;
}
#idm6224800 {
  margin-top: -7em;
}
#idm6021264 {
  margin-top: 3em;
}
#idm20882784 {
  margin-top: -5em;
}
#idp2792976 {
  margin-top: -5em;
}
#idp2908320 {
  margin-top: 3em;
}
#ips9e-ch05-p-0276a {
  margin-top: -3em;
}
#ips9e-ch05-p-0276b {
  margin-top: -4em;
}
#ips9e_page_304 + #ips9e-ch05-fig-012 img {
  width: 680px;
}
#idm16623664 {
  margin-top: -7em;
}
#idm16864816 {
  margin-top: -5em;
}
#ips9e-ch05-fig-015 {
  margin-top: -5em;
}
#ips9e-ch05-fig-016 {
  margin-top: -5em;
}
#ips9e-ch05-fig-019 {
  margin-top: -5em;
}
#ips9e-ch05-p-0662 p {
  margin-bottom: 0;
}
#ips9e-ch05-p-0663 p {
  margin-top: 0;
}
div#idm56246320 {
  margin-top: -5em;
}
#ips9e-ch05-box-018 img[data-figure-id="ips9e-ch05-fig-007"] {
  width: 730px;
  padding-top: 1em;
  padding-bottom: 1em;
}
#idm56005088 {
  margin-top: -8em;
}
#idp10039104 {
  margin-top: -5em;
}
#idm1490880 {
  margin-top: -5em;
}
#ips9e-ch05-p-0472 {
  margin-top: 4em;
}
#ips9e-ch05-p-0610 {
  margin-top: 3em;
}
#ips9e-ch05-tab-4 {
  position: absolute;
  left: 100px;
}
#ips9e-ch05-tab-4 table {
  width: 140px !important;
  margin-left: 0;
  margin-right: 0;
}