/* supplemental window styles */

// no page numbering
[data-block_type="page_start"] {
    display: none;
}

// turn off asset credits
[data-type="asset_source"] {
    display: none;
}

// adjust manuscript per supplemental window type
#manuscript {
    &.figure {
        margin: 2em;
        [data-type="section"] {
            margin: 2em !important;
        }
        [data-type="figure"] {
            float: none !important;
            margin: 2em auto !important;
            width: 800px !important;
            img {
                //max-width: initial;
                cursor: auto !important;
                margin-left: 0;
            }
        }
        span[data-block_type="FG-N-ri"] {
            cursor: auto;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.table {
        [data-type="section"] {
            margin:0;
            width:auto;
            [data-type="table"][data-block_type="TABLE"] [data-type="table_caption"] {
                cursor: auto;
            }
            [data-type="table"][data-block_type="TABLE"] {
                margin: 2em auto;            
            }               
        }
        [data-block_type="EXP"] {
            background-image:none;
        }

    }
    &.example {
        margin-left:-5px;
        [data-type="section"] {
            [data-block_type="EXP"] {
                [data-block_type="EXP-N"] {
		            cursor: auto;
	                &:hover {
		                text-decoration: none;
	                }
                }
                [data-block_type="EXP-TXT-first"] {
                    [data-block_type="EXP-T-ri"] {
                        cursor: auto;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &.exercise {
        margin: 2em;
        [data-type="section"] {
            border: 0;
            margin-left: 2em !important;
            position: relative;
        }
        [data-block_type="SR-XH"] {
            cursor: auto;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


[data-type="question"] {
    margin-top: 2em;
    width: 700px; // 629px for h1 exercises
    text-align: left; // justify; somewhere?
    [data-block_type^="EXR-QUE"] {
        width: 629px;
    }
    h3 {
        display: none;
    }
    img[src*="global_images"] {
        float: left;
        margin-right: 10px;
        //width: 73px;
        &[src*="applet"] {
            width: 29px;
        }
    }
    ol {
        list-style-type: none;
        margin-left: 0;
        li {
            margin: 8px 0;
        }
    }
}

// destyle questions
[data-block_type="BX2-QUE-N-ri"] {
	cursor: auto;
	&:hover {
		text-decoration: none;
	}
}



@dk-blue: #004377;

// destyle questions
[data-type="question"] {
    [data-block_type="CR-X-NL-N-ri"],
    [data-block_type="CR-X-NL-T-ri"] {
        cursor: auto;
    }
    [data-block_type="EXR-QUE-N-ri"] {
        color: @dk-blue;
        position: absolute;
        left: -2em;
        font-weight: bold;
        cursor: auto;
        z-index:-1;
    }
    // question title text
    [data-block_type="EXR-QUE-T-ri"] {
        color: @dk-blue;
        font-weight: bold;
        cursor: auto;
    }
}

// exercises section
div[data-type="section"][data-block_type="CR-X-H-v1"] {
    [data-type="question"] {
        [data-block_type="CR-X-NL-N-ri"] {
		    cursor: auto;
	        &:hover {
		        text-decoration: none;
	        }
        }
    }
}


/* destyle numbered figure title numbers */
// need to do ONLY if in figure popup (e.g. not example popup)
div[data-type="section"] > [data-block_type="FIGURE"] {
    float: none;
    margin: 2em auto !important;
    img {
        cursor: auto !important;
    }
    [data-type="figure_text"] {
        margin-bottom: 1em;
        width: 100%;
        [data-type="caption"] [data-block_type="FG-N-ri"]{
            font-weight: bold;
            cursor: auto;
            // needs enhancing when PDFs available
        }
    }
}
